$color-blossom: #FF6B6B;    //#2c8898
$color-fade: #4ECDC4;       //#982c61

$color-bg: #DFD9E2;         //#f9f9f9
$color-bg-alt: #f1f1f1;     //#f1f1f1

$color-text: #292F36;       //#4a4a4a
$font-size-base: 1.8rem;

$font-family-base: 'Recursive', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$font-family-heading: $font-family-base;

@import "main";
