$color-blossom: #FF6B6B;    //#FFFFFF
$color-fade: #4ECDC4;       //#c9c9c9

$color-bg: #292F36;         //#222222
$color-bg-alt: #3d4651;     //#4a4a4a

/* $color-text: #dedce5; */
$color-text: #DFD9E2;
$font-size-base: 1.8rem;

$font-family-base: 'Recursive', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$font-family-heading: $font-family-base;

// recursive font op
$sl-font-family--text: 'Recursive';

@import "main";
